#intro {
	position: relative;
  	width: 100%;
  	height: 85vh;
  	display: flex;
  	align-items: center;
  	justify-content: center;  
    background: url("../img/music-visualization-background-3.jpg")no-repeat center center fixed;
  	background-size: cover;
}

#intro {
    content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.85;
	/*background-color: rgba(0,0,0,0.25);*/
}

.grayscale{
    filter: grayscale(50%)
}

.grayscale:hover{
    filter: grayscale(0%)
}


/* Music selection style*/

.container-music-type{
    margin: 5vh;
    height: 100vh
}

.music-selection-title{
    margin-bottom: 5vh;
    margin-left: 2vh;
}

a:link{
    text-decoration: none;
}

.img-music-type{
    margin-bottom: 0.5vh;
}

/*Song selection style*/

.container-song{
    margin: 5vh;
    min-height: 100vh
}

.card-song{
    margin: 1vh;
    min-height: 20vh;
    opacity: 0.9;
}

.card-song:hover{
    opacity: 1;
    border-color: #f0ad4e;
}


.img-song{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.songs-header{
    margin-left: 6vh;
    margin-top: 5vh;
}


